<div class="page-header">
  <div class="header-body with-tabs">
    <div class="row align-items-center">
      <div class="col">
        <p class="mb-1 text-muted font-size-16"><%= link_to 'Account', account_path %> / Subscription Payments</p>
        <h1 class="header-title">Your Subscription Payments</h1>
      </div>
    </div>
    <%= render 'account/menu' %>
  </div>
</div>
