<h1 class="h3 mb-4">Spacers</h1>

<ul class="list-unstyled spacer-list">

  <li class="mb-1">
    <div class="d-block bg-secondary" style="height:24px;width:4px;"></div>
  </li>
  <li class="mb-1">
    <div class="d-block bg-secondary" style="height:24px;width:8px;"></div>
  </li>
  <li class="mb-1">
    <div class="d-block bg-secondary" style="height:24px;width:12px;"></div>
  </li>
  <li class="mb-1">
    <div class="d-block bg-secondary" style="height:24px;width:16px;"></div>
  </li>
  <li class="mb-1">
    <div class="d-block bg-secondary" style="height:24px;width:24px;"></div>
  </li>
  <li class="mb-1">
    <div class="d-block bg-secondary" style="height:24px;width:32px;"></div>
  </li>
  <li class="mb-1">
    <div class="d-block bg-secondary" style="height:24px;width:48px;"></div>
  </li>
  <li class="mb-1">
    <div class="d-block bg-secondary" style="height:24px;width:56px;"></div>
  </li>

</ul>
