<h1 class="h3 mb-4">Components</h1>
<% @components.each do |component| %>
  <div class="card">
    <div class="card-header font-weight-bold"><%= component.name %></div>
    <div class="card-body">
      <p class="card-text">This is primarily used on the home and about pages.</p>
    </div>
    <div class="card-markup">
      <pre><code class="language-html"><%= component.markup %></code></pre>
    </div>
    <div class="card-footer d-flex align-items-center">
      <div class="text-left text-muted">
        html
        scss
      </div>
      <div class="ml-auto">
        <%= octicon('kebab-vertical', height:20) %>
      </div>
    </div>
  </div>
<% end %>
