.color-list {

}
.color {
  float:left;
  width:225px;
  margin-right: $spacer-32;
  margin-bottom: $spacer-32;

  .card-markup {
    height:130px;
  }

  .card-body {
    font-family: $font-family-monospace;
  }
}
