html, body { height:100%;}

.home-img {
  position: absolute;
  left: 0;
  top:0;
  width:100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  z-index: -1;

  &:after {
    content:'';
    background: rgba(0,0,0,0.05);
    position: absolute;
    top: 0;
    left:0;
    width:100%;
    height:100%;
  }
}
.home-container {
  height:100%;
  margin-left:$spacer-96;
  p:not(.font-size-18) {
    font-size: $font-size-20;
  }
}
.home-container--inner {
  height: 100%;
  max-width: 680px;
  padding:$spacer-48;
}

@media(max-width:767px){
  .home-container {
    margin-left: 0;
  }

  .home-container--inner {
    height: auto;
    padding:$spacer-24;
  }
}
