<div class="card">
  <div class="card-header font-weight-bold d-flex align-items-center">Website connected! <div class="ml-auto icon-circle success"><%= octicon('check', height:24) %></div></div>
  <div class="card-body">
    <p>If you ever need to update the settings just come back to this page.</p>
    <%= link_to 'Open Style Guide', brand_root_url(subdomain:@brand.subdomain), class:'btn btn-primary' %>
  </div>
</div>
