<ul class="nav nav--material flex-column">
  <li class="nav-item"><%= link_to (octicon('paintcan', class:'nav-icon',height:24) + "Colors"), root_path, class:'nav-link facility-dash-link' %></li>
  <li class="nav-item"><%= link_to (octicon('text-size', class:'nav-icon',height:24) + "Fonts"), root_path, class:'nav-link facility-dash-link' %></li>
  <li class="nav-item"><%= link_to (octicon('arrow-both', class:'nav-icon',height:24) + "Spacing"), root_path, class:'nav-link facility-dash-link' %></li>
  <li class="nav-item"><%= link_to (octicon('archive', class:'nav-icon',height:24) + "Components"), root_path, class:'nav-link facility-dash-link' %></li>
</ul>
