<footer class="app-footer mt-5">
  <div class="container font-size-16 color-neutral-6 pb-3">
    <p class="mb-0 border-top pt-3 d-block">© <%= Date.today.year %> Great Freakin Software Co. Built with <%= octicon('heart', style:'fill:#e74c3c;') %> in the mountains of Boone, NC.</p>
  </div>
</footer>
