.brand-wrap {
  padding:$spacer-24;
  margin-bottom:$spacer-16;
  display: block;
  img {
    max-width: 150px;
  }
}
.main{
  padding-left:256px;
  @include transition(padding-left .15s ease);
}
.menu {
  width:256px;
  @include transition(left .15s ease);
}
.header {
  border-bottom: 1px solid $border-color;
  height:56px;
}
.main-inner {
  //max-width:900px;
  padding:$spacer-32 $spacer-48;
}
body.menu-closed {
  .menu {left:-256px;}
  .main {padding-left: 0;}
  .main-inner { margin:0 auto;}
  .header { padding-left:0;}
}
.logo {
  position: fixed;
  bottom: $spacer-16;
  left: $spacer-16;
  img {
    max-width:120px;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    @include transition(filter .15s ease);
  }

  &:hover img {
    -webkit-filter: grayscale(0); /* Safari 6.0 - 9.0 */
    filter: grayscale(0);
  }

}

#js--toggle-brand-menu {
  left: $spacer-24;
  position: relative;
  padding: 10px;
  height: 44px;
  width: 44px;
  border-radius: 100%;
  text-align: center;
  line-height: 23px;
  display: block;
  float: left;
  top:5px;
  @include transition(margin-left .15s ease);

  svg { fill:$neutral-6;}

  &:hover {
    background: $neutral-2;
    svg { fill:$neutral-7;}
  }
}
