<div class="row h-100 home-container">
  <div class="col-md-6 position-relative d-none d-md-block">
    <div class="bg-img" style="background-image:url(https://d28lxayvntpz3s.cloudfront.net/site-assets/sg/sg-bg.jpg)"></div>
  </div>
  <div class="col-md-6 bg-white box-shadow-5">
    <div class="py-4 px-4">
      <img src="https://d28lxayvntpz3s.cloudfront.net/site-assets/logos/sg-logo.png" style="max-width:175px;margin-bottom:2rem;">
      <h1 class="h4" style="margin-bottom:1rem;">Creating a new style guide and pattern library for every new project sucks.</h1>
      <p>Even if you have a template, it's time consuming to make changes to all of them. Then you have to find a place to host it, which has additional costs. Lastly, the existing solutions charge an arm and a leg to maintain just one brand.</p>
      <p>That's why I built Style Guides.</p>
      <p style="margin-bottom:2rem;">You can document the building blocks of the brand, while allowing for an easy collaborative editing process.</p>
      <p class="font-size-18"><%= link_to 'Follow me on Twitter', 'https://twitter.com/nphaskins' %> for updates. Launching 2019.</p>
    </div>
  </div>

</div>
