<div class=" home-container">


    <div class="home-container--inner bg-white box-shadow-5">
      <div class="py-4 px-4">
        <img src="https://d28lxayvntpz3s.cloudfront.net/site-assets/logos/sg-logo.png" style="max-width:175px;margin-bottom:2rem;">
        <h1 class="h4" style="margin-bottom:1rem;">Creating a new style guide and pattern library for every new project sucks.</h1>
        <p>You could just re-use a template, but it's time-consuming to make changes to all of them. You also have to find a place to host it, which has additional costs. The existing solutions charge an arm and a leg to maintain just one brand.</p>
        <p>So I built it myself.</p>
        <p>Easily generate color palettes, typography scales, and spacing systems. Keep track of all of your components, along with their markup and styles.</p>
        <p style="margin-bottom:2rem;">Keep your team on the same page, and improve consistency in your projects UI's by having a rock-solid system to reference.</p>
        <p class="font-size-18"><%= link_to 'Follow me on Twitter', 'https://twitter.com/nphaskins' %> for updates. Launching 2019.</p>
      </div>
    </div>

  <div class="home-img" style="background-image:url(https://d28lxayvntpz3s.cloudfront.net/site-assets/sg/styleguide-bg.jpg)"></div>

</div>
