<div class="home-container">

  <section class="home-container--inner bg-white box-shadow-5">

    <img src="https://d28lxayvntpz3s.cloudfront.net/site-assets/logos/sg-logo.png" style="max-width:175px;margin-bottom:2rem;">
    <h1 class="h4" style="margin-bottom:1rem;">You need to create a style guide and pattern library, but you're not sure how to go about doing it.</h1>
    <p>Github pages would work, but you want it done instantly. You could host your own style guides, but this has additional costs, and takes time to set up each project.</p>
    <p>Both of those options suck because they involve re-using a template, which means making updates would be time-consuming.</p>
    <p>The existing solutions charge an arm and a leg just for one brand.</p>
    <p>So I built <span class="color-neutral-6">StyleGuides.app</span>.</p>
    <p>Easily generate color palettes, typography scales, and spacing systems. Keep track of all of your components, along with their markup and styles.</p>
    <p style="margin-bottom:2rem;">Keep your team on the same page, and improve consistency in your projects UI's by having a rock-solid system to reference.</p>
    <p class="color-neutral-6"><%= link_to 'Follow me on Twitter', 'https://twitter.com/nphaskins' %> for updates.</p>

  </section>

  <div class="home-img" style="background-image:url(https://d28lxayvntpz3s.cloudfront.net/site-assets/sg/styleguide-bg.jpg)"></div>

</div>
