<div id="js--panel" class="js--panel-right">
  <div class="js--panel-inner">
    <button type="button" class="close panel-close" data-dismiss="panel" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <div class="js--panel-content">Loading...</div>
  </div>
</div>
