<h1 class="h3 mb-4">Colors</h1>

<ul class="list-unstyled">

  <li style="width:150px;" class="float-left mr-4 mb-4">
    <div class="card">
      <div class="card-img-top" style="height:100px;background:#102A43;"></div>
      <div class="card-body">
        #102A43
      </div>
    </div>
  </li>

  <li style="width:150px;" class="float-left mr-4 mb-4">
    <div class="card">
      <div class="card-img-top" style="height:100px;background:#243B53;"></div>
      <div class="card-body">
        #243B53
      </div>
    </div>
  </li>

  <li style="width:150px;" class="float-left mr-4 mb-4">
    <div class="card">
      <div class="card-img-top" style="height:100px;background:#334E68;"></div>
      <div class="card-body">
        #334E68
      </div>
    </div>
  </li>

  <li style="width:150px;" class="float-left mr-4 mb-4">
    <div class="card">
      <div class="card-img-top" style="height:100px;background:#486581;"></div>
      <div class="card-body">
        #486581
      </div>
    </div>
  </li>

  <li style="width:150px;" class="float-left mr-4 mb-4">
    <div class="card">
      <div class="card-img-top" style="height:100px;background:#627D98;"></div>
      <div class="card-body">
        #627D98
      </div>
    </div>
  </li>

  <li style="width:150px;" class="float-left mr-4 mb-4">
    <div class="card">
      <div class="card-img-top" style="height:100px;background:#829AB1;"></div>
      <div class="card-body">
        #829AB1
      </div>
    </div>
  </li>

</ul>
