<h1 class="h3 mb-4">Colors</h1>

<ul class="list-unstyled color-list">

  <li style="width:150px;" class="float-left mr-4 mb-4">
    <div class="card">
      <div class="card-img-top" style="height:100px;background:#102A43;"></div>
      <div class="card-body">
        #102A43
      </div>
    </div>
  </li>

  <li style="width:150px;" class="float-left mr-4 mb-4">
    <div class="card">
      <div class="card-img-top" style="height:100px;background:#243B53;"></div>
      <div class="card-body">
        #243B53
      </div>
    </div>
  </li>

  <li style="width:150px;" class="float-left mr-4 mb-4">
    <div class="card">
      <div class="card-img-top" style="height:100px;background:#334E68;"></div>
      <div class="card-body">
        #334E68
      </div>
    </div>
  </li>

  <li style="width:150px;" class="float-left mr-4 mb-4">
    <div class="card">
      <div class="card-img-top" style="height:100px;background:#486581;"></div>
      <div class="card-body">
        #486581
      </div>
    </div>
  </li>

  <li style="width:150px;" class="float-left mr-4 mb-4">
    <div class="card">
      <div class="card-img-top" style="height:100px;background:#627D98;"></div>
      <div class="card-body">
        #627D98
      </div>
    </div>
  </li>

  <li style="width:150px;" class="float-left mr-4 mb-4">
    <div class="card">
      <div class="card-img-top" style="height:100px;background:#829AB1;"></div>
      <div class="card-body">
        #829AB1
      </div>
    </div>
  </li>

  <li style="width:150px;" class="float-left mr-4 mb-4">
    <div class="card">
      <div class="card-img-top" style="height:100px;background:#9FB3C8;"></div>
      <div class="card-body">
        #9FB3C8
      </div>
    </div>
  </li>

  <li style="width:150px;" class="float-left mr-4 mb-4">
    <div class="card">
      <div class="card-img-top" style="height:100px;background:#BCCCDC;"></div>
      <div class="card-body">
        #BCCCDC
      </div>
    </div>
  </li>

  <li style="width:150px;" class="float-left mr-4 mb-4">
    <div class="card">
      <div class="card-img-top" style="height:100px;background:#D9E2EC;"></div>
      <div class="card-body">
        #D9E2EC
      </div>
    </div>
  </li>

  <li style="width:150px;" class="float-left mr-4 mb-4">
    <div class="card">
      <div class="card-img-top" style="height:100px;background:#F0F4F8;"></div>
      <div class="card-body">
        #F0F4F8
      </div>
    </div>
  </li>

</ul>
