.menu{
  position: fixed;
  left:0;
  top:0;
  bottom:0;
  height:100%;
  border-right:1px solid $border-color;

  .nav-link{
    height: 40px;
    margin: 4px 8px;
    padding: 0 8px 0 60px;
    -webkit-font-smoothing: antialiased;
    font-size: .95rem;
    font-weight: 500;
    letter-spacing: .00714em;
    position: relative;
    display: flex;
    align-items: center;
    border-radius: $border-radius;
    color:$body-color;
    &:hover { color: $primary;}

    &[aria-expanded="true"]{
      .nav-link--toggle {
        transform: rotate(-180deg);
      }
    }

    &.active {
      background: white;
    }
  }

  .nav-item:first-child {
    margin-top:4px;
  }

  .nav-icon {
    position: absolute;
    top:8px;
    left:8px;
    fill:$neutral-6;
  }

}
