<ul class="nav header-tabs">
  <li class="nav-item"><%= link_to 'Account', account_path, class:'nav-link text-muted' %></li>
  <li class="nav-item"><%= link_to 'Brands', account_brands_path, class:'nav-link text-muted' %></li>
  <li class="nav-item"><%= link_to 'Subscription', account_subscriptions_path, class:'nav-link text-muted' %></li>
  <li class="nav-item"><%= link_to 'Payments', account_payments_path, class:'nav-link text-muted' %></li>
</ul>
