$spacer:          1.5rem !default;

$spacer-4:        0.25rem;
$spacer-8:        0.5rem;
$spacer-12:       0.75rem;
$spacer-16:       1rem;
$spacer-24:       $spacer;
$spacer-32:       2rem;
$spacer-48:       3rem;
$spacer-64:       4rem;
$spacer-96:       6rem;
$spacer-128:      8rem;
$spacer-192:      12rem;
$spacer-256:      16rem;
$spacer-384:      24rem;
$spacer-512:      32rem;
$spacer-640:      40rem;
$spacer-768:      48rem;

$neutral-10:      #102A43;
$neutral-9:       #243B53;
$neutral-8:       #334E68;
$neutral-7:       #486581;
$neutral-6:       #627D98;
$neutral-5:       #829AB1;
$neutral-4:       #9FB3C8;
$neutral-3:       #BCCCDC;
$neutral-2:       #D9E2EC;
$neutral-1:       #F0F4F8;

$font-size-12:    0.75rem;
$font-size-14:    0.875rem;
$font-size-16:    1rem;
$font-size-18:    1.125rem;
$font-size-20:    1.25rem;
$font-size-24:    1.5rem;
$font-size-32:    2rem;
$font-size-48:    3rem;

$line-height-12:    0.75rem;
$line-height-14:    0.875rem;
$line-height-16:    1rem;
$line-height-18:    1.125rem;
$line-height-20:    1.25rem;
$line-height-24:    1.5rem;
$line-height-32:    2rem;
$line-height-48:    3rem;


$white:    #fff !default;
$gray-100: $neutral-1 !default;
$gray-200: $neutral-2 !default;
$gray-300: $neutral-3 !default;
$gray-400: $neutral-4 !default;
$gray-500: $neutral-5 !default;
$gray-600: $neutral-6 !default;
$gray-700: $neutral-7 !default;
$gray-800: $neutral-8 !default;
$gray-900: $neutral-9 !default;
$black:    $neutral-10 !default;


$blue:            #17a2b8 !default;
$indigo:          #6610f2 !default;
$purple:          #6f42c1 !default;
$pink:            #e83e8c !default;
$red:             #e74c3c !default;
$orange:          #e67e22 !default;
$yellow:          #f1c40f !default;
$green:           #3EBD93 !default;
$cyan:            #17a2b8 !default;


$primary:         #fd5e44 !default;
$secondary:       #34495e !default;
$success:         $green !default;
$info:            $blue !default;
$warning:         $yellow !default;
$danger:          $red !default;
$light:           #ffffff !default;

$body-bg:         #F0F4F8 !default;
$body-color:      $neutral-8 !default;
$text-muted:      $neutral-7 !default;
$text-muted--card: #8898aa;
$warning-dark:    #856404;

$modal-backdrop-bg:                 $neutral-10 !default;

$border-radius:   0;
$border-radius--sm:   .15em;
$border-color:    $gray-200 !default;
$box-shadow:      0 1px 3px hsla(120,0,0,0.06),0 1px 2px hsla(120,0,0,0.12);
$box-shadow-1:    $box-shadow;
$box-shadow-2:    0 3px 6px hsla(120,0,0,0.15),0 2px 4px hsla(120,0,0,0.12);
$box-shadow-3:    0 10px 20px hsla(120, 0, 0%, 0.15), 0 3px 6px hsla(120, 0, 0%, 0.10);
$box-shadow-4:    0 15px 25px hsla(120, 0, 0%, 0.15), 0 5px 10px hsla(120, 0, 0%, 0.15);
$box-shadow-5:    0 20px 40px hsla(120,0,0%,0.2);

$font-family-sans-serif:      proxima-nova, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base:            $font-family-sans-serif !default;

$font-size-base:              $font-size-18 !default; // Assumes the browser default, typically `16px`
$font-size-lg:                ($font-size-base * 1.25) !default;
$font-size-sm:                ($font-size-base * .875) !default;

$h1-font-size:                $font-size-base * 2.25 !default;
$h2-font-size:                $font-size-base * 1.75 !default;
$h3-font-size:                $font-size-base * 1.5 !default;
$h4-font-size:                $font-size-base * 1.25 !default;
$h5-font-size:                $font-size-base * 1 !default;
$h6-font-size:                $font-size-base !default;

$table-cell-padding:   15px !default;
$table-border-width:  0px !default;
$table-border-color: transparent !default;
$table-bg:         white !default;
$table-accent-bg:  $neutral-1;
$table-hover-bg:   $neutral-1;

$input-bg:                              $neutral-1 !default;
$input-color:                           $neutral-7 !default;
$input-border-color:                    transparent !default;
$input-border-width:                    0px !default;
$input-focus-bg:                        $input-bg !default;

$input-placeholder-color:               #9FB3C8 !default;
$input-plaintext-color:                 $body-color !default;
$input-group-addon-bg:                 $gray-300;
$custom-file-height:         calc(2.875rem + 0px);

$card-border-width:                 0px !default;
$card-border-radius:                $border-radius !default;
$card-border-color:                 transparent !default;
$card-inner-border-radius:          calc(#{$card-border-radius} - #{$card-border-width}) !default;
$card-cap-bg:                       transparent !default;

$container-max-widths: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$container-max-widths: map-merge(
  (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 962px
  ),
  $container-max-widths
);
