<h1 class="h3 mb-4">Fonts</h1>

<div class="card mb-3">
  <div class="card-body">
    <p class="mb-0" style="font-size:1.25rem">The great white fox jumps over the lazy moon.</p>
  </div>
</div>

<div class="card mb-3">
  <div class="card-body">
    <p class="mb-0" style="font-size:1.5rem">The great white fox jumps over the lazy moon.</p>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <p class="mb-0" style="font-size:1.75rem">The great white fox jumps over the lazy moon.</p>
  </div>
</div>
