<div class="page-header">
  <div class="header-body with-tabs">
    <div class="row align-items-center">
      <div class="col">
        <p class="header-pretitle">Account</p>
        <h1 class="header-title">Your Account</h1>
      </div>
    </div>
    <%= render 'accounts/menu' %>
  </div>
</div>
